.canvas-container {
    position: relative;
}

.nodesText {
    position: absolute;
    top: 0;
    left: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    max-width: 30%;
    max-height: 50%;
    white-space: normal;
    overflow: auto;
}

.orderOfVisitText {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    max-width: 30%;
    max-height: 60px;
    white-space: normal;
    overflow: auto;
}