{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{title}}</h1>
        <p class="article-meta">
            <time class="article-date" datetime="{{date}}">{{date}}</time>
            <span class="article-author">{{author}}</span>
        </p>
    </header>

    <div class="article-content">
        {{article.content}}

        {{article.content}}
    </div>
</section>

{{> footer}}