body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebe5e7;
}

.content-container {
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    overflow-x: hidden;
    width: 100%;
    background-color: #ebe5e7;
    z-index: 0;
}

footer {
    align-content: center;
    margin-top: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

canvas {
    width: 70%;
    height: 50%;
    border: 1px solid #000000;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(51, 51, 51, 1);
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.banner nav ul {
    list-style: none;
}

.banner nav ul li {
    display: inline;
    margin-right: 20px;
}

.banner nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.banner nav ul li a:hover {
    color: #f5a623;
}
